* {
	box-sizing: border-box;
}

/* Style the body */
body {
	font-family: Times, Broadway, sans-serif;
	margin: 0;
}

/* Header/logo Title */
.header {
	padding: 80px;
	text-align: center;
	background: #808080;
	color: pink;
	border: #123 solid 12px;
}
.11{
    border: 5 black solid;
    text-align: center;
}

	/* Increase the font size of the heading */
	.header h1 {
		font-size: 40px;
	}
.LikeButton{
    	padding: 80px;
	text-align: center;
	background: #808080;
	color: pink;
	border: #123 solid 12px;
    
}
/* Style the top navigation bar */
.navbar {
	overflow: hidden;
	background-color: #123;
}

	/* Style the navigation bar links */
	.navbar a {
		float: left;
		display: block;
		color: pink;
		text-align: center;
		padding: 14px 20px;
		text-decoration: none;
	}

		/* Right-aligned link */
		.navbar a.right {
			float: right;
		}

		/* Change color on hover */
		.navbar a:hover {
			background-color: #bad4ff;
			color: black;
		}

/* Column container */
.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
	-ms-flex: 30%; /* IE10 */
	flex: 30%;
	background-color: #808080;
	/*padding: 20px;*/
	border: #123 solid 12px;
    text-align:center;
}
/*Side Second Header Left Side Avocado*/
.sideSection {
    border-bottom: #123 solid 3px;
    padding: 20px;
}


/* Main column */
.main {
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: pink;
    padding: 20px;
    border: #123 solid 12px;
}

.pic1 {
    transform: rotate(90deg);
}


/* Fake image, just for this example */
.fakeimg {
	background-color: #bad4ff;
	width: 100%;
	padding: 20px;
}

/* Footer */
.footer {
    padding: 5px;
    text-align: center;
    background: #808080;
    height: 120px;
    width: 100%;
    border-left: 12px solid #123;
    border-right: 12px solid #123;
    border-bottom: 12px solid #123;
}

#footL {
    width: 33%;
    float:left;
    padding:.1px;
    background:inherit;
}
#footM {
    width: 33%;
    float: left;
    padding: .1px;
    background: inherit;
}
#footR {
    width: 33%;
    float: left;
    padding: .1px;
    background: inherit;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
	.row {
		flex-direction: column;
	}
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
	.navbar a {
		float: none;
		width: 100%;
	}
}
